*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
header{
    width: 100%;
    min-height: 880px;
    background: url('../header.bg_01.jpg');
    margin: auto;

}
header img{
    transition:0.5s;
}
header nav ul{
    display: block;
    list-style: none;
    text-decoration: none;
}
.logo{
    display: block;
    width: 67px;
    height: 67px;
}

.logo:hover{
    box-shadow: 10px 10px 0px white;
}
header nav{
    display: block;
    border: 0px solid white;
    border-bottom: 1px solid #757575;
}
header nav ul li a{
    display: inline-block;
    
    width: 100px;
    height: 110px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding:50px 0px 40px 0px;
}
header nav ul li a:hover{
    text-decoration: none;
    color: white;
}
header nav ul li:hover .line{
    opacity: 1;
}
header nav ul li .line{
    width: 100px;
    height: 5px;
    opacity: 0;
    background: blue;
}
.fa-facebook, .fa-telegram, .fa-skype, .fa-twitter{
    color:white;
    font-size: 20px;
}
.fa-facebook:hover, .fa-telegram:hover, .fa-skype:hover, .fa-twitter:hover{
    
    color: blue;
}
.header_head{
    max-width: 800px;
    margin: auto;
    margin-bottom: 110px;
}
header h1{
    display: block;
    max-width: 835px;
    color: white;
    font-weight: 700;
    font-size: 152px;
    margin: auto;
    margin-top:150px;
    
}
header p{
    display: block;
    max-width: 835px;
    color: #11749e;
    font-size: 25px;
    font-weight: 500;
    margin: auto;
}
header span{
    color:white;
    margin-top:110px;
}
main{
    width: 100%;
    margin: auto;
}
main section{
    width: 100%;
    
    background: #11749e;
}
.box{
    display: flex;
    width: 270px;
    height: 300px;
    margin: auto;
    align-items: center;
    margin-bottom: 130px;
}

.dolce{
    display: flex;
    margin: auto;
    max-width: 570px;
    height: 300px;
  
    position: relative;
}
main section .dolce h2{
   
    height: 300px;
    
    text-align: center;
    font-weight: 400;
    font-size: 250px;
    color: rgb(60, 141, 175, 0.48);
}
main section .dolce h3{
    display: block;
    max-width: 570px;
    height: 35px;
    text-align: center;
    color: white;
    position: absolute;
    top: 140px;
 
}
section .fa-pencil-square-o{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 135px;
    font-size: 50px;
    background:rgb(60, 141, 175, 0.48);
    border-radius: 50%;
    color: white;
}
section .fa-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 135px;
    font-size: 50px;
    background:  rgb(60, 141, 175, 0.48);
    border-radius: 50%;
    color: white;
}
.box:hover .fa-pencil-square-o {
    color: lime;
}
.box:hover .fa-search {
    color: lime;
}
.box:hover h4{
    color: lime;
}
.box h4{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.box p{
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.section2 {
    background: #222222;
    margin: auto;
}
.section2 .container{
    max-width: 1600px;
    padding:0;
}
.section2 .container .row{
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.section2 .container .col-lg-6,.section2 .container .col-md-12{
    margin:0;
    padding:0;
}

.section2 .box1{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 80px 117px 115px 215px;
    
}
.section2 .box1 span{
    display: block;
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.section2 .box1 h2{
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.section2 .box1 p{
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.section2 .imgbox{
    width: 100%;
    height: 100%;
    
}
.section2 .imgbox img{
    display: block;
    width: 100%;
    height: 100%;
}
.section3 {
    background: #f3f3f3;
    margin: auto;
}

.section3 .container{
    max-width: 1600px;
    padding:0;
}
.section3 .container .row{
    max-width: 100%;
    margin: auto;
}
.section3 .container .col-lg-6,.section2 .container .col-md-12{
    margin:0;
    padding:0;
}

.section3 .box1{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 80px 215px 115px 117px;
    
}
.section3 .box1 span{
    display: block;
    color: black;
    font-size: 13px;
    font-weight: 400;
}
.section3 .box1 h2{
    display: block;
    color: black;
    font-size: 25px;
    font-weight: 400;
}
.section3 .box1 p{
    display: block;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.section3 .imgbox{
    width: 100%;
    height: 100%;
}
.section3 .imgbox img{
    display: block;
    width: 100%;
    height: 100%;
}
.section4{
    min-height: 1015px;
}
.section4 .blog{
    display: flex;
    margin: auto;
    max-width: 230px;
    height: 190px;
    position: relative;
}
.section4 .blog h1{
    font-size: 200px;
    margin: auto;
    text-align: center;
    color: #222222;
    font-weight: 700;
    color: rgb(60, 141, 175, 0.48);
}
.section4 .blog h2{
    display: block;
    max-width: 230px;
    text-align:center;
    margin: auto;
    color: #222222;
    font-size: 38px;
    font-weight: 400;
    position: absolute;
    top: 100px;
}
.section4  p{
    display: block;
    max-width: 800px;
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    margin-top: 35px;
}
.section4 .fresh{
    display: flex;
    width: 270px;
    height: 750px;
    margin: auto;
    margin-top: 100px;
    opacity: 0;
    animation: down 1s forwards;
    animation-delay: .5s;
}
@keyframes down{
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.section4 .fresh .imgbox{
    position: relative;
    overflow: hidden;
}
.section4 .fresh .imgbox button{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    border:0px solid red;
    color:yellow;
    font-size: 40px;
    font-weight: 700;
    padding:130px 25px;
    background: rgba(0, 0, 0, 0.692);
    transform:translateY(280px);
    transition: 0.5s;
}
.section4 .fresh .imgbox:hover button{
    transform:translateY(0px);
}
.section4 .fresh h2{
    color: #11749e;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.section4 .fresh p{
    color: #222222;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
   
}
.section5{
    min-height: 355px;
    background: #11749e;
}
.section5 .boxer{
    display: flex;
    height: 130px;
    margin: 190px 0px 150px 0px;
}
.section5 .boxer .fa-pencil-square-o{
    display: inline-block;
    width: 75px;
    color: white;
    font-size: 75px;
}
.section5 .boxer p{
    display: inline-block;
    max-width: 435px;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.section6{
    min-height: 850px;
    background: url('../bg2_02.jpg');
}
.section6 .imgbox{
    display: flex;
    width: 315px;
    height: 650px;
    border-radius: 45px;
    background: rgb(89,147,178,0);
    margin: auto;
    margin-top:100px;
}
.phone{
    display: flex;
    width: 570px;
    height: 430px;
    margin: auto;
    margin-top: 200px;
    /*padding:220px 0px 240px 0px;*/
    
}
.section6 .phone h2{
    font-weight: 500;
    font-size: 25px;
    color: white;
}
.section6 .phone p{
    font-weight: 400;
    font-size: 15px;
    color: white;
}
.progress1{
    margin-top:70px;
    padding:10px 0px 14px 20px;
    width: 370px;
    height: 40px;
    background: #11749e;
}
.progress2{
    margin-top:25px;
    padding:10px 0px 14px 20px;
    width: 400px;
    height: 40px;
    background: #11749e;
}
.progress3{
    margin-top:25px;
    padding:10px 0px 14px 20px;
    width: 425px;
    height: 40px;
    background: #11749e;
}
.progress1 p{
    color: white;
    font-weight: 500;
    font-size: 55px;
}
.section7{
    min-height: 945px;
}
.section7 .imgbox1, .imgbox2, .imgbox3, .imgbox4{
    display: flex;
    width: 270px;
    height: 415px;
    margin:auto;
    margin-top: 70px;
    margin-bottom:80px;
    position:relative;
}
.section7 .imgbox1{
    background: url('../member-1_05.jpg');
    background-size: cover;
}
.section7 .imgbox2{
    background: url('../member-2_07.jpg');
    background-size: cover;
}
.section7 .imgbox3{
    background: url('../member-3_09.jpg');
    background-size: cover;
}
.section7 .imgbox4{
    background: url('../member-4.jpg');
    background-size: cover;
}
.section7 .info{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transition:0.5s;
    opacity:0;
    background: rgba(255, 255, 0, 0.466);
}
.section7 .imgbox:hover .info{
  opacity:1;
}

.section7 .info .fa{
    display: block;
    color:white;
    font-size: 60px;
}

.section7 .info .fa:hover{
    color:#11749e;
}

.section7 .info a{
    text-decoration: none;
}

.section7  .area{
    display: flex;
    width: 215px;
    height: 70px;
    margin: auto;
    margin-bottom: -40px;
    text-align: center;
    background: white;
}
.section7  .area h2{
    font-weight: 500;
    font-size: 20px;
    color: #11749e;
}
.section7 .blog{
    display: flex;
    margin: auto;
    max-width: 230px;
    height: 190px;
    position: relative;
}
.section7 .blog h1{
    font-size: 200px;
    margin: auto;
    text-align: center;
    color: #222222;
    font-weight: 700;
    color: rgb(60, 141, 175, 0.48);
}
.section7 .blog h2{
    display: block;
    max-width: 230px;
    text-align:center;
    margin: auto;
    color: #222222;
    font-size: 38px;
    font-weight: 400;
    position: absolute;
    top: 100px;
}
.section7 p{
    display: block;
    max-width: 800px;
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: auto;
}
.section7 .col-md-12 p{
    margin-top:60px;
}
.section7 .imgbox1 p{
    margin-top:5px;
}

.section8{
    min-height: 850px;
    background: url('../end_19.jpg');
}
main .section8 .dolce h2{
    height: 300px;
    text-align: center;
    font-weight: 400;
    font-size: 250px;
    color: rgb(221, 223, 224, 0.2);
}
main .section8 .dolce h3{
    display: block;
    max-width: 570px;
    height: 35px;
    text-align: center;
    color: white;
    position: absolute;
    top: 140px;
 
}
.section8 input{
    border: 1px solid white;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 50px;
    background: rgb(10,10,10,0);
    color: white;
}
.section8 input.message{
    border: 1px solid white;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    height: 150px;
    background: rgb(10,10,10,0);
}
.section8 .submit{
    width: 225px;
    height: 65px;
    background: #11749e;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.section9{
    height: 350px;
}
footer{
    min-height: 115px;
    background: #222222;
}
footer p{
    color: white;
    margin-top: 56px;
    font-size: 13px;
    font-weight: 400;
}



@media(max-width: 992px) {

     header .header_head h1 { 
       font-size: 75px; 
    }
  
 }
 

@media(max-width:1075px){
    .section4 .fresh p{
        padding:0px 20px;
    }
}


@media(max-width: 768px) {

    header .header_head h1 { 
       font-size: 50px; 
    }
    main .section2 .box1{
        
        padding: 40px 58px 57px 107px; 
    }
    main .section3 .box1{
        
        padding: 40px 58px 57px 107px; 
    }
 }